html, body {
    margin: 0;
    padding: 0;
    text-align:center;

  }


canvas {
    margin-left: 28%;
margin-right: 28%;
    position:fixed;
    display: block;
    top: 10%;
border: 5px solid #000000";


  }
  p{
    position: relative;
  }
  
