

     html {
        cursor: url(./my-cursor.png), auto !important;

        
      }

      a {
        cursor: url("./my-cursor-2.png"), auto !important;
    }

    @keyframes bgcolor {
        0% {
            background-color: #2917ed
        }
      
        30% {
            background-color: #236302
        }
      
        60% {
            background-color: #793304
        }
      
        90% {
            background-color: rgb(255, 0, 43)
        }
      
        100% {
            background-color: #876ca3
        }
      }
      
      
      body {
        -webkit-animation: bgcolor 20s infinite;
        animation: bgcolor 40s infinite;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;
      }
article{
margin: 0%;
padding: 0%;
}


.text{
    margin-top: 10%;
    margin-left: 2%;
    width: 25%;
    color: rgb(78, 78, 78);
}
.intro{

text-align: center;

}
figure{
    width: 25%;

}

.gaps{
    position:absolute;
    left: 55%;
    width: 10%;
    top: 20%;
}




.projects{
    color: rgb(78, 78, 78);
 


}









h1{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 2vw;
line-height: 1.5vw;
}
