/* HOME2 HOME2 HOME2*/
/* HOME2 HOME2 HOME2*/
/* HOME2 HOME2 HOME2*/
/* HOME2 HOME2 HOME2*/

th,
td {
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    font-size: 2vw;
    padding: .4%;
    right: 60%;

}




/* LANDING, PROJECT DIVS*/
/* LANDING, PROJECT DIVS*/
/* LANDING, PROJECT DIVS*/
/* LANDING, PROJECT DIVS*/




.projects {
    position: fixed;
    color: black;
    text-decoration: underline;
    text-decoration-color: black;
    font-size: 3vh;
    left: 2%;

}

.test {
    position: fixed;
    top: 42%;
    left: 60%;
    filter: grayscale(100%);
}



.container {
    position: absolute;
    height: 20vh;
    margin-top: 0%;
    display: grid;
    width: 25%;
    grid-template-rows: 2fr 2fr 1fr;
    z-index: 1;
    filter: blur(.3px);
    left: 50%;
    top: 26%;
}

.cell {
    text-align: left;
    padding: .75rem;

}


.cell-1 {
    background-color: transparent;
    border-bottom: 1px solid #000000;
    text-decoration: none;
    font-size: 2.5vh;

}

.v {
    text-decoration: none;
    color: black;
    font-family: BL-Arctic;
}

.cell-2 {
    background-color: transparent;
    border-bottom: 1px solid #000000;
    font-size: 2.5vh;
}

.di {
    color: black;
    text-decoration: none;
    font-family: BL-Arctic;
}

.cell-3 {
    background-color: transparent;
    border-bottom: 1px solid #000000;
    font-size: 2.5vh;
    border-top: 1px solid #000000;
}

.fs {
    color: black;
    text-decoration: none;
    font-family: BL-Arctic;

}

.fsm {
    width: 100%;
}


.cell-4 {
    background-color: transparent;
    border-bottom: 1px solid #000000;
    font-size: 2.5vh;
}

.cd {
    color: black;
    text-decoration: none;
    font-family: BL-Arctic;
}


.cell-5 {
    color: black;
    background-color: transparent;
    border-bottom: 1px solid #000000;
    font-size: 2.5vh;
}

.non {
    color: black;
    text-decoration: line-through;
    font-family: BL-Arctic;
}



.cell-6 {
    color: black;
    background-color: transparent;
    font-size: 2.5vh;
}

.other {
    color: black;
    text-decoration: none;
    font-family: BL-Arctic;
}


.cell-7 {
    color: black;
    background-color: transparent;
    font-size: 2.5vh;
    border-bottom: 1px solid #000000;
}

.assorted {
    color: black;
    text-decoration: none;
    font-family: BL-Arctic;
    text-decoration: line-through;
}



.cell-8 {
    color: black;
    background-color: transparent;
    font-size: 2.5vh;
    border-bottom: 1px solid #000000;

}

.bulk {
    color: black;
    text-decoration: none;
    font-family: BL-Arctic;

}

.cell-9 {
    color: black;
    background-color: transparent;
    font-size: 2.5vh;
    border-bottom: 1px solid #000000;
}

.fire {
    color: black;
    text-decoration: line-through;
    font-family: BL-Arctic;
    text-decoration: line-through;
}

.cell-10 {
    color: black;
    background-color: transparent;
    font-size: 2.5vh;
    border-top: 1px solid #000000;
}

.sp {
    color: black;

    font-family: BL-Arctic;


}

.objects {
    color: black;
    background-color: transparent;
    font-size: 2.5vh;
    border-top: 1px solid #000000;

}

.objects2 {
    color: black;
    text-decoration: line-through;
    font-family: BL-Arctic;
}



.d0ll {
    color: black;
    background-color: transparent;
    font-size: 2.5vh;
    border-top: 1px solid #000000;
}

.doll {
    color: black;
    text-decoration: line-through;
    font-family: BL-Arctic;
}


.lights {
    color: black;
    background-color: transparent;
    font-size: 2.5vh;
    border-top: 1px solid #000000;
}


.lights2 {

    color: black;
    text-decoration: line-through;
    font-family: BL-Arctic;
}

.rocks {
    color: black;
    background-color: transparent;
    font-size: 2.5vh;
    border-top: 1px solid #000000;
}

.rock {
    color: black;
    text-decoration: line-through;
    font-family: BL-Arctic;
}

.livetodie {
    color: black;
    background-color: transparent;
    font-size: 2.5vh;
    border-top: 1px solid #000000;
}

.ltd {
    color: black;
    text-decoration: line-through;
    font-family: BL-Arctic;
}

.duckfountain {
    color: black;
    background-color: transparent;
    font-size: 2.5vh;
    border-top: 1px solid #000000;

}

.duckf {
    color: black;
    text-decoration: line-through;
    font-family: BL-Arctic;
}


.image {
    width: 10vw;
}




.fac {
    position: absolute;
    top: 30%;
    left: 35%;
    font-size: 2.3vh;

}


.nothing {

    width: 50%;
}


/* PROJECT DIVS OVER*/
/* PROJECT DIVS OVER*/
/* PROJECT DIVS OVER*/
/* PROJECT DIVS OVER*/











/* MY INFO - MY INFO , MY INFO */
/* MY INFO - MY INFO , MY INFO */
/* MY INFO - MY INFO , MY INFO */
/* MY INFO - MY INFO , MY INFO */

/* THE TITLE THE TITLE THE TITLE */
/* THE TITLE THE TITLE THE TITLE */
/* THE TITLE THE TITLE THE TITLE */
/* THE TITLE THE TITLE THE TITLE */

.inf {
    position: fixed;
    font-size: 2.75vh;
    left: 75%;
    top: 4%;
    text-decoration: underline;

}

/* THE CONTENT THE CONTENT */
/* THE CONTENT THE CONTENT */
/* THE CONTENT THE CONTENT */

.intro12 {
    position: fixed;
    top: 26%;
    text-align: justify-all;
    font-size: 2vh;
    left: 4%;
    right: 80%;
}

.job {
    position: fixed;
    top: 70%;
    text-align: justify-all;
    font-size: 1.5vh;
    left: 4%;
}

.main {
    position: absolute;
    font-size: 1.8vh;
    text-align: left;
    top: 87%;
    right: 18%;

}

.stat {
    position: absolute;
    right: 18%;
    top: 85%;
    font-size: 1.8vh;
    text-decoration: underline;

}

.cv {
    position: fixed;
    left: 4%;
    top: 75%;
    font-size: 1.5vh;
    text-decoration: underline;
}

#ma {
    text-decoration: underline;
    top: 40%;
}

.down {
    position: absolute;
    right: 5%;
    top: 94%;
    font-size: 2vh;
}

.state {
    position: absolute;
    font-size: 2.8vh;
    text-align: justify-all;
    left: 30%;
    right: 30%;
    top: 110%;
    margin-bottom: 10px;
}

.would {
    position: fixed;
    top: 85%;
    text-align: justify-all;
    font-size: 1.5vh;
    left: 4%;


}




/* INDEX INDEX INDEX INDEX INDEX INDEX */
/* INDEX INDEX INDEX INDEX INDEX INDEX */
/* INDEX INDEX INDEX INDEX INDEX INDEX */
/* INDEX INDEX INDEX INDEX INDEX INDEX */

/* THE TITLE THE TITLE THE BUTTONS, BUTTONS */

.inde {
    position: fixed;
    font-size: 2.75vh;
    left: 75%;
    top: 0%;
    text-decoration: underline;
}

/* THE CONTENT THE CONTENT */
.aai {
    position: absolute;
    text-align: left;
    font-size: 30px;
    padding-left: 2%;
    top: .1%;
    text-decoration: underline;

}

.b1 {
    position: absolute;
    text-align: justify;
    top: 20%;
    font-size: 2.5vh;
    left: 30%;
    right: 30%;
    margin-bottom: 20%;


}




/*EXTRA OTHER EXTRA WHATEVER*/

a:link {
    z-index: 1;
    color: black;
}


a:default {
    color: black;

}


